$primary: #000000;
$primaryDark:#000000;
$primaryTransparent: #000000d0;

$Secondary: #d6ccc2;
$SecondaryDark: #EFD3C5;
$SecondaryLigth: #f8edeb;

$infos: #A8CF45;
$promos: #F33446;
$vistos: #0098DA;

grisFondo: '#f6f6f6ff',
    ligthGray: '#bdc3c7',
    gray: '#7f8c8d',
    gray0: '#383838',
    gray1: '#505050',
    gray2: '#636363',
    gray3: '#818181',
    gray4: '#969696',
    gray5: '#afafaf',
    gray6: '#c4c4c4',
    gray7: '#dddddd',
    gray8: '#eeeeee',
    gray9: '#f7f7f7',
$transparent: #ffffff00;

$white1: #fcf5ed;

$alert-color: #cb492a;
$light-black-color: #706e72;
$black-color: #414042;


$blurGeneral: 2px;

