.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 6rem 1rem;
}

.titleWrapper{
  display: flex;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: left;
  margin-right: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}
