.shell {
  display: grid;
  gap: var(--ag-space-3);
}

@media (min-width: 1025px) {
  .shell {
    gap: var(--ag-space-4);
  }
}

@media (max-width: 1024px) {
  .shell {
    padding: 32px 16px;
  }
}
